<div class="student-body" role="main">

    <h2>{{ title }}</h2>

    <!-- <button id="add-request-btn" type="button" class="btn btn-outline-success" (click)="openModal('create-request-modal')">&#43;&nbsp;Create New Request</button> -->

    <button id="add-request-btn" class="btn btn-lg btn-outline-success" (click)="open(content)">&#43;&nbsp;Create New Request</button>

    <!-- <ng-template #content let-modal>
        <app-modal></app-modal>
    </ng-template> -->

    <!--FIGURE OUT HOW TO ENCAPSULATE INTO MODAL COMPONENT!!!-->
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Create New Course Request</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!-- <div class="form-group">
              <label for="dateOfBirth">Date of birth</label>
              <div class="input-group">
                <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
              </div>
            </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>

    <app-request></app-request>

</div>
