<div class="student-body" role="main">

    <h2>{{ title }}</h2>

    <!-- <button id="add-request-btn" type="button" class="btn btn-outline-success" (click)="openModal('create-request-modal')">&#43;&nbsp;Create New Request</button> -->

    <button id="add-request-btn" class="btn btn-lg btn-outline-success" (click)="open(content)">&#43;&nbsp;Create New Request</button>

    <!-- <ng-template #content let-modal>
        <app-modal></app-modal>
    </ng-template> -->

    <!--FIGURE OUT HOW TO ENCAPSULATE INTO MODAL COMPONENT!!!-->
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Create New Course Request</h4>
          <p class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="close-icon" aria-hidden="true">&times;</span>
          </p>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="form-group">
              <label for="course">Course</label>
              <input
                formControlName="course"
                id="course"
                type="text"
                class="form-control">
                <div *ngIf="course?.touched && course?.invalid">  <!--error messages-->
                  <div *ngIf="course?.errors?.required" class="alert alert-danger">Course information is required</div>
                  <div *ngIf="course?.errors?.minlength" class="alert alert-danger">Should be minimum {{ course?.errors?.minlength?.requirelength }} characters</div> <!--interpolation not working...-->
                </div>
            </div>
            <div class="form-group">
              <label for="creditHours">Credit Hours</label>
              <input
                formControlName="creditHours"
                id="creditHours"
                type="text"
                class="form-control">
                <div *ngIf="creditHours?.touched && creditHours?.invalid">
                  <div *ngIf="creditHours?.errors?.required" class="alert alert-danger">Credit hours are required</div>
                  <div *ngIf="creditHours?.errors?.pattern" class="alert alert-danger">Must be a whole number</div>
                </div>
            </div>
            <div class="form-group">
              <label for="term">Term</label>
              <select
                formControlName="term"
                id="term"
                class="form-control form-select">
                  <option value="" disabled>Please select a term...</option>
                  <option value="SPR22">Spring 2022</option>
                  <option value="SUM22">Summer 2022</option>
                  <option value="AUT22">Autumn 2022</option>
              </select>
              <div *ngIf="term?.touched && term?.invalid">
                <div *ngIf="course?.errors?.required" class="alert alert-danger">Term is required</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-success" type="submit" (click)="modal.close('Save click')">Submit Request</button>
        </div>
    </ng-template>

    <app-request></app-request>

</div>
