main {
    display: flex;
    justify-content: center;
  }

  .request-body {
    margin: 10px;
  }
  
  table {
    max-width: 100%;
    margin: 50px auto;
    width: 80%;
  }
  
  th,
  td {
    text-align: center;
    padding: 0.5em 1em;
    border: none;
  }
  
  @media screen and (max-width: 680px) {
   table {
     display: block;
     box-shadow: none;
     margin-bottom: 150px;
   }
  
   thead {
     position: absolute;
     opacity: 0;
   }
    
   tbody {
     display: block;
     min-width: 19em;
     max-width: 25em;
   }
  
   tr {
     display: block;
     margin-bottom: 1em;
   }
  
   td {
     display: flex;
     align-items: center;
     justify-content: center;
   }
  }