<div class="request-body" role="main">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Request ID
                </th>
                <th>
                    Timestamp
                </th>
                <th>
                    Course Name
                </th>
                <th>
                    Credit Hours
                </th>
                <th>
                    Term
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let request of requests">
            <tr>
                <td>
                    {{ request.id }}
                </td>
                <td>
                    {{ request.timestamp | date: 'short' }} <!--date pipe to format datetime as MM/DD/YY, HH:MM PM-->
                </td>
                <td>
                    {{ request.courseName }}
                </td>
                <td>
                    {{ request.courseCreditHours | number: '1.2-2' }} <!--number pipe to format decimal places-->
                </td>
                <td>
                    {{ request.courseTerm }}
                </td>
            </tr>
        </tbody>
    </table>
</div>


