<div class="request-body" role="main">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Course Information
                </th>
                <th>
                    Credit Hours
                </th>
                <th>
                    Term
                </th>
                <th>
                    Request Created On
                </th>
            </tr>
        </thead> <!--title="requested created on: {{ request.timestamp | date: 'short' }}"--> 
        <tbody *ngFor="let request of requests">
            <tr title="requested created on: {{ request.timestamp | date: 'short' }}">
                <td> 
                    {{ request.courseName }}
                </td>
                <td>
                    {{ request.courseCreditHours | number: '1.2-2' }} <!--number pipe to format decimal places-->
                </td>
                <td >
                    {{ request.courseTerm }}
                </td>
                <td>
                    {{ request.timestamp | date: 'short' }} <!--date pipe to format datetime as MM/DD/YY, HH:MM PM-->
                </td>
            </tr>
        </tbody>
    </table>
</div>


