<h2>{{ title }}</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Request ID
                </th>
                <th>
                    Timestamp
                </th>
                <th>
                    Course Name
                </th>
                <th>
                    Credit Hours
                </th>
                <th>
                    Term
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requests">
                <td>
                    {{ request.id }}
                </td>
                <td>
                    {{ request.timestamp }}
                </td>
                <td>
                    {{ request.courseName }}
                </td>
                <td>
                    {{ request.courseCreditHours }}
                </td>
                <td>
                    {{ request.courseTerm }}
                </td>
            </tr>
        </tbody>
    </table>
</div>


