<div class="home-body">

    <div class="content" role="main">

        <!-- Welcome Card -->
        <div class="card highlight-card card-small">

            <img width="80" height="80" src="/assets/TheCCPConnectionLogo3.svg"/>
    
            <span>Welcome to The CCP Connection!</span>
    
        </div>
    
        <!-- Role Buttons -->
        <div class="role-buttons">
            <h5>Course requests made easy</h5>
            <p>Just start by selecting your role below</p>
        
            <input type="hidden" #selection>
        
            <div class="card-container">
                <div class="card card-small" routerLink="/student" routerLinkActive="active">
                    <span>Student</span>
                </div>
            
                <div class="card card-small" routerLink="/not-included" routerLinkActive="active">
                    <span>Parent</span>
                </div>
            
                <div class="card card-small" routerLink="/not-included" routerLinkActive="active">
                    <span>Counselor</span>
                </div>
            
                <div class="card card-small" routerLink="/not-included" routerLinkActive="active">
                    <span>Advisor</span>
                </div>
            </div>
        </div>       
    
    </div>

</div>
  

